.body{
  height: 100vh;
  background: #22c1c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #fdbb2d,
    #22c1c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #fdbb2d,
    #22c1c3
  );
}

.navbar{
  width: 100%;
  height: 50px;
  background-color: rgb(245, 245, 245);
}